# Ignorar todos os arquivos sem extensão
*

# Permitir arquivos que possuem uma extensão
!*.*

# Garantir que o próprio .gitignore seja rastreado
!.gitignore

# Garantir que o Makefile seja rastreado
!Makefile

/.vscode
/executaveis
